<app-breadcrumbs title="DASHBOARD" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card">
    <div class="card-body">
        <div class="row justify-content-center mb-3">
            <img align="center" src="assets/images/carte.jpg" class="small-image">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 text-center p-3 border bg-light">
                <h5>Active Shipments</h5>
                <p>AOTC1C490771<br>Transshipped</p>
                <p>AOTC1C490777<br>Arrived</p>
            </div>
            <div class="col-md-3 text-center p-3 border bg-light">
                <h5>Booking</h5>
                <p>BNPUN-020384<br>POD: Chicago, Illinois, United States<br>Status: Pending</p>
            </div>
            <div class="col-md-3 text-center p-3 border bg-light">
                <h5>Quotes</h5>
                <p>NYC-SFO/FCL-FEB20-0985<br>John Deere Parts<br>Status: Approved</p>
            </div>
            <div class="col-md-3 text-center p-3 border bg-light">
                <h5>Invoices</h5>
                <p>GTR020413<br>Amalgamations Repco Ltd</p>
            </div>
        </div>
    </div>
</div>


<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>