.small-image {
  width: 1000px;
  height: auto;
}

.custom-border {
  border: 2px solid #ccc; /* Vous pouvez personnaliser l'épaisseur et la couleur de la bordure ici */
}

.custom-bg {
  background-color: #f8f9fa; /* Couleur de fond gris clair personnalisée */
}
