<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Sam24GmbH - Transport & Logistics</title>
</head>
<body>


<app-header></app-header> <!-- Include Header -->

<!-- End Header Area -->

<!-- Start Sidebar Modal -->

<!-- End Sidebar Modal -->

<!-- Start Search Box Modal -->

<!-- End Search Box Modal -->



<!-- Start Pae Title Area -->
<div class="page-title-area item-bg-1 jarallax"  data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="page-title-content">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6">
                    <h2>Kontakt</h2>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <ul>
                        <li>
                            <a routerLink="">Home
                            </a>
                        </li>
                        <li>Kontakt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Address Area -->
<section class="address-area pt-100 pb-70">
  <div class="container">
    <div class="row"  *ngIf="listSettings.length > 0">
      <div class="col-lg-4 col-md-6">
        <div class="single-address"> 
          <i class='bx bx-phone-call'></i>
          <h3>Kontakt</h3>
          <span>Sprechen Sie mit unserem Support</span>
          <p>{{ listSettings[0].telephone }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-address">
          <i class='bx bx-location-plus'></i>
          <h3>Standort</h3>  
          <span>Finden Sie heraus, wo wir sind</span>
          <p>{{ listSettings[0].adresse }}</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
        <div class="single-address">
          <i class='bx bx-time'></i>
          <h3>Besuchen Sie uns</h3>
          <span>Verfügbare Öffnungszeiten</span>
          <p>{{ formatTime(listSettings[0].heureDebut) | date: 'HH:mm' }} - {{ formatTime(listSettings[0].heureFin) | date: 'HH:mm' }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Address Area -->

<!-- Start Map Area -->
<div class="contact-map-area">
    <div class="container">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d319.7517818909638!2d8.649798937652594!3d50.12345521221636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sde!4v1759742827397!5m2!1sfr!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    </div>
</div>
<!-- End Map Area -->

<!-- Start Contact Area -->
<section class="contact-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-wrap contact-pages mb-0">
                    <div class="contact-form">
                        <div class="section-title">
                            <span class="pumpkin-color">Informationen</span>
                            <h2>Schreiben Sie uns eine Nachricht bei Anfragen</h2>
                        </div>
                        <form id="contactForm" [formGroup]="addForm" (ngSubmit)="checkValidityAndSubmit()">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="nom" class="form-control" required data-error="Bitte geben Sie Ihren Namen ein" placeholder="Ihr Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="email" formControlName="email" class="form-control" required data-error="Bitte geben Sie Ihre E-Mail-Adresse ein" placeholder="Ihre E-Mail">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="telephone" required data-error="Bitte geben Sie Ihre Telefonnummer ein" class="form-control" placeholder="Ihre Telefonnummer">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <input type="text" formControlName="objet" class="form-control" placeholder="Ihr Betreff">
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" formControlName="message" cols="30" rows="5" required data-error="Bitte schreiben Sie Ihre Nachricht" placeholder="Ihre Nachricht"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn btn-two">
                                        Nachricht senden
                                    </button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End Contact Area -->

<!-- Start Subscribe Area -->
<!--<div class="subscribe-area ptb-100">-->
<!--    <div class="container">-->
<!--        <div class="section-title white-title">-->
<!--            <h2>Subscribe for the latest newsletter</h2>-->
<!--        </div>-->
<!--        <div class="tracking-body">-->
<!--            <form class="tracking-wrap newsletter-form" data-toggle="validator">-->
<!--                <input type="email" class="input-tracking" placeholder="Your Email" name="EMAIL" required autocomplete="off">-->

<!--                <button class="default-btn active" type="submit">-->
<!--                    Subscribe-->
<!--                </button>-->

<!--                <div id="validator-newsletter" class="form-result"></div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- End Subscribe Area -->

<!-- Start Footer Top Area -->
<app-footerFront></app-footerFront>

<!-- End Footer Bottom Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class='bx bx-chevrons-up bx-fade-up'></i>
    <i class='bx bx-chevrons-up bx-fade-up'></i>
</div>
<!-- End Go Top Area -->
</body>
</html>